body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f5e0;
}
.logo {
    flex: 0 1 auto;
}
.logo img {
        height: auto; /* Cette ligne s'assurera que le logo garde ses proportions */
        width: auto; /* Mettre à auto pour que l'image utilise sa taille d'origine */
        max-width: none; /* Enlève la restriction de la largeur maximale
    }

nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

header {
    background-color: #006400;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #006400;
    color: #fff;
    cursor: pointer;
}

.sidebar {
    width: 200px;
    background-color: #4CAF50;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.sidebar h2 {
    color: #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.sidebar a:hover {
    text-decoration: underline;
}
/* Styles généraux pour l'image */
img {
    width: 100%; /* Cela rend l'image responsive */
    height: auto; /* Maintient les proportions de l'image */
    display: block; /* Évite les marges indésirables */
    margin: 0 auto; /* Centre l'image horizontalement */
}

/* Styles généraux */

/* Styles pour les appareils mobiles (jusqu'à 767px de largeur) */
@media only screen and (max-width: 767px) {
    /* Réduire la taille de la police pour une meilleure lisibilité */
    
    .logo {
         /* Limite la taille de l'image à la largeur de l'écran */
        flex: 1;
        
    }

    header {
        justify-content: flex-start; /* Aligner les éléments à gauche */
    }

    /* Assurez-vous que le reste du header est configuré pour permettre au logo d'utiliser plus d'espace si nécessaire */
    nav {
        flex-grow: 1; /* Permet au nav de remplir l'espace disponible */
    }

    nav ul {
        justify-content: flex-end; /* Aligner les liens vers la droite */
    }
}

    nav ul {
        flex-direction: row; /* Assure que les liens restent en ligne */
        justify-content: space-around; /* Distribue l'espace autour des liens */
    }

    nav li {
        margin: 0 5px; /* Réduit l'espace entre les liens sur les petits écrans */
    }

    body {
        font-size: 14px;
    }

    /* Ajuster la largeur du logo dans l'en-tête */
    .logo img {
        max-height: 100%;
        max-width: 100%;
        min-width:100%;
        height: auto;
        width: auto;
    }

    /* Réorganiser ou masquer certains éléments pour une présentation plus adaptée aux mobiles */
    .sidebar {
        width: 100px;
    }

    /* Ajouter plus de marge en bas pour séparer les éléments sur les petits écrans */
    .content {
        margin-bottom: 20px;
    }

    /* Ajuster la taille des formulaires pour s'adapter aux écrans plus petits */
    form {
        max-width: 300px;
    }

    /* Ajuster la taille des boutons pour une meilleure expérience tactile */
    input[type="submit"] {
        font-size: 16px;
        padding: 12px;
    }
}


